<a href="https://colab.research.google.com/github/Mehadi2012/Data-Science/blob/main/Compound_Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a_dict = {1:{1:[1,2,3,"python"], 4.4:(4,5,6)}}
print(a_dict[1])
print(a_dict[1][1])
print(a_dict[1][1][3]) # This is how we would get the string "python"

{1: [1, 2, 3, 'python'], 4.4: (4, 5, 6)}
[1, 2, 3, 'python']
python

In [ ]:
a_dict = {1:{1:[1,2,3,"python"], 4.4:(4,5,6)}}
print(a_dict[1][4.4])
print(a_dict[1][4.4][2])

(4, 5, 6)
6

In [ ]:
a_list = [{1:["python","java","c"]}, [2,(3,4,5), 6], "javascript"]
print(a_list)
print(a_list[0])
print(a_list[1])
print(a_list[2])

[{1: ['python', 'java', 'c']}, [2, (3, 4, 5), 6], 'javascript']
{1: ['python', 'java', 'c']}
[2, (3, 4, 5), 6]
javascript

In [ ]:
my_list = [{7:["python","java","c"]}, [2,(3,4,5), 6], "javascript"]
print(my_list[0][7][1])
print(my_list[1][1][2])
print(my_list[1][2])

java
5
6

In [ ]:
a_tuple = (1,2,{1:["apple",8]})
print(a_tuple[0])
print(a_tuple[1])
print(a_tuple[2])
print(a_tuple[2][1])

1
2
{1: ['apple', 8]}
['apple', 8]

In [ ]:
my_tuple = (1,2,{3:["apple",8]})
print(my_tuple[2][3][0])

apple