<a href="https://colab.research.google.com/github/Mehadi2012/Data-Science/blob/main/Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a_dict = {}
print(a_dict)
print(type(a_dict))

{}
<class 'dict'>

In [ ]:
new_dict = {"python":1, "java":2,"javascript":3}
print(new_dict)
print(type(new_dict))
print(new_dict["python"])

{'python': 1, 'java': 2, 'javascript': 3}
<class 'dict'>
1

In [ ]:
dict1 = {"apple":4, "mango":10, "banana":9,"apple":7}
print(dict1) # dictionary always contains the latest key if there is a key which is not unique

{'apple': 7, 'mango': 10, 'banana': 9}

# How to check a key if it exists

In [ ]:
dict2 = {"apple":4, "mango":10, "banana":9}
print("banana" in dict2)
print("lemon" in dict2)

True
False

# How to find a value of a specific key without an error

In [ ]:
dict3 = {"mango":10, "banana":9,"apple":7}
print (dict3.get("mango")) # Here we used a get function
print (dict3.get("lemon"))

10
None

# Dictionary Functions

In [ ]:
dict3.keys() # keys function which gets all the keys from the dictionary

dict_keys(['mango', 'banana', 'apple'])

In [ ]:
dict3.values() # values function which gets all the values from the dictionary

dict_values([10, 9, 7])

In [ ]:
dict4 = {"mango":10, "banana":9,"apple":7}
print(dict4)
dict4.clear() # clear function which removes all the keys and values from the dictionary
print(dict4)

{'mango': 10, 'banana': 9, 'apple': 7}
{}

In [ ]:
dict3 = {"mango":10, "banana":9,"apple":7}
dict5 = dict3.copy() # copy function which copies all the keys and values from a dictionary
print(dict3)
print(dict5)

{'mango': 10, 'banana': 9, 'apple': 7}
{'mango': 10, 'banana': 9, 'apple': 7}

In [ ]:
dict3 = {"mango":10, "banana":9,"apple":7}
print(dict3)
key_list = ["mango","apple"]
dict6 = dict3.fromkeys(key_list,[3,4])
print(dict6)

{'mango': 10, 'banana': 9, 'apple': 7}
{'mango': [3, 4], 'apple': [3, 4]}

In [ ]:
print(dict3)
print(dict3.items())

{'mango': 10, 'banana': 9, 'apple': 7}
dict_items([('mango', 10), ('banana', 9), ('apple', 7)])

# Looping through dictionary

In [ ]:
final_dict = {"Apple":[10,12], "Mango":20, "Lemon": 15, "Banana": 30}
for x,y in final_dict.items():
  print(x,y)

Apple [10, 12]
Mango 20
Lemon 15
Banana 30