<a href="https://colab.research.google.com/github/Mehadi2012/Data-Science/blob/main/Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Set
- The elements of set have to be unique
- Set can not be indexed 
- Set doesnt have order 
- Set is mutable

In [ ]:
set1 = {1,2,3,4.4,"python"}
print(set1)

{1, 2, 3, 4.4, 'python'}

In [ ]:
a_set = {1,2,3,1,2}
print(a_set) # Duplicated values are dropped

{1, 2, 3}

In [ ]:
a_set.add(4)
print(a_set) # add function adds a new value to the right of the set

{1, 2, 3, 4}

In [ ]:
a_set.pop()
print(a_set) # pop function delete the first value of the set
a_set.pop()
print(a_set)

{2, 3, 4}
{3, 4}