<a href="https://colab.research.google.com/github/Mehadi2012/Data-Science/blob/main/Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a_tuple = (1,2,3)
print(type(a_tuple))
print(a_tuple[0])

<class 'tuple'>
1

# Empty Tuple

In [ ]:
empty_tuple = ()
print(empty_tuple)
print(len(empty_tuple))
print(type(empty_tuple))

()
0
<class 'tuple'>

# Tuples with one element

In [ ]:
one_tuple = ("python")
one_tuple2 = (1)
print(type(one_tuple))
print(type(one_tuple2))

<class 'str'>
<class 'int'>

# use trailing comma to make a tuple with one element from data type of class/string to data type of tuple

In [ ]:
tuple1 = ("python"),
tuple2 = (1),
print(type(tuple1))
print(type(tuple2))

<class 'tuple'>
<class 'tuple'>

# Tuple packing

In [ ]:
tuple3 = 1,2,3,"python"
print (tuple3)
print(type(tuple3))

(1, 2, 3, 'python')
<class 'tuple'>

# Sequence unpacking

In [ ]:
tuple4 = 2,3,5,"java"
w,x,y,z = tuple4
print(w)
print(x)
print(y)
print(z)

2
3
5
java

# Tuple Functions

In [ ]:
tuple5 = (11,11,33,44,11,"python","java")
print(tuple5.count(11)) # .count returns the number of occurance of a value

3

In [ ]:
print(tuple5.index(33)) # .index returns the index number of a value

2