<a href="https://colab.research.google.com/github/Mehadi2012/Data-Science/blob/main/Python_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
mylist = [10,20,30,40,50,60]
for item in mylist:
  print(item)

10
20
30
40
50
60

In [ ]:
myList = ["Mango","Orange","Banana",1,2,3]
for item in myList:
  print(item)

Mango
Orange
Banana
1
2
3

# break statement

In [ ]:
# break statement stops execution of the loop
for item in myList:
  if item == 1:
    break
  print(item)

Mango
Orange
Banana

# continue statement

In [ ]:
# continue to the next item without executing the lines occuring after continue inside the loop
for item in myList:
  if item == 1:
    continue
  print(item)

Mango
Orange
Banana
2
3

# enumerate()

In [ ]:
newlist = [1,2,3,4,5,"apple","mango"]
for idx, val in enumerate(newlist):
  print('index: {}, value: {}'.format(idx,val))

index: 0, value: 1
index: 1, value: 2
index: 2, value: 3
index: 3, value: 4
index: 4, value: 5
index: 5, value: apple
index: 6, value: mango

In [ ]:
a = 2
b = 3.0
c = "Data"
d = True
a_list = [a,b,c,d]
print(a_list)
print(type(a_list))

[2, 3.0, 'Data', True]
<class 'list'>

# Mutability

In [ ]:
a_new_list = [1,2,3,4]
a_new_list[0]= "Hello"
print(a_new_list)

['Hello', 2, 3, 4]

# Slicing

In [ ]:
list1 = [1,2,3,"Python","Java"]
print(list1[0:3]) #here the end index is not included, means it will print from index 0 to index 2.
print(list1[3:6])

[1, 2, 3]
['Python', 'Java']

# Negative Slicing

In [ ]:
list2 = [4,5,6,"Javascript","C"]
print(list2[-1]) # Here -1 indicate the last index and the more we move left from the last index it would go like -2,-3,-4 and so on.
print(list2[-5:-2])

C
[4, 5, 6]